//FONT
$font: 'Open Sans', sans-serif;

//COLORS
$color1: #1D72C2;
$color2: #0683F9;
$color3: #8EC7FC;
$color4: #429C41;
$color5: #BB3E3F;
$color6: #DE0028;
$color7:#FF6F00;
$color8: #FFC700;
$color9: #1CC1F5;
$color10: #E8E8E8;
$color11: #e6f2fe;
$color12: #dbb3b3;

